{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div style="text-align: center;height: 200px">
        <h1>Picture of the day by the Nasa</h1>
        <a href="{{ path('connect_google_start') }}">Sign in with Google</a>
    </div>
{% endblock %}
